:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdb;

  --header-height: 120px;
  --navbar-height: 34px;
  --search--height: calc(var(--header-height) - var(--navbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__col-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.333%;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bigger {
  from {
    transform: scale(var(--from));
  }
  to {
    transform: scale(var(--to));
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  --from: 0.7;
  --to: 1;
  border-radius: 8px;
  background-color: var(--white-color);
  margin: auto;
  z-index: 1;
  /* position: relative; */
  animation: bigger linear 0.1s;
}

/* Button */
.btn {
  min-width: 90px;
  height: 34px;
  border: none;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 0 12px;
  cursor: pointer;
  /* color: var(--text-color); */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
}

.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-size-s {
  height: 32px;
  font-size: 12px;
  padding: 0 8px;
}

/* pagination */

.pagination {
  display: flex;
  font-size: 1.8rem;
  list-style: none;
  justify-content: center;
}

.page-item {
  margin: 0 16px;
}

.page-active a {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.page-link {
  color: grey;
  display: block;
  text-decoration: none;
  min-width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 2px;
  line-height: 30px;
}
