@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
:root {
  --big-text: #555555;
  --small-text: #a19f9d;
  --primary-color: #14b9d5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic";
}

.header {
  display: block;
  width: 100%;
  background-image: url("/img/bgTravel.jpg");
  text-align: center;
  background-size: cover;
  background-color: rgba(98, 102, 109, 0.6);
}

.logo-bar {
  position: absolute;
  width: 15%;
  left: 40px;
  top: 28px;
}

.header-block {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 38px;
}

.header-list {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  align-items: center;
  margin-left: 55px;
}

.header-item {
  padding: 25px 15px;
  position: relative;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 3px;
}

.header-btn {
  padding: 10px 12px;
  border-radius: 24px;
  border: none;
  margin-left: 30px;
  background-color: #ba71da;
  color: #fff;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.header-icon {
  float: right;
  font-size: 40px;
  color: #fff;
  margin: 30px 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

i.fa.fa-bars.bar-icon {
  font-size: 35px;
}
/* COMMON LIST */
.list-package,
.list-shop,
.list-about,
.list-page,
.list-new,
.list-contact {
  display: none;
}

.cmn-list {
  position: absolute;
  list-style-type: none;
  background-color: #fff;
  padding: 8px 16px;
  box-shadow: 1px 1px 7px #fff;
  top: 100%;
  cursor: pointer;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
  text-align: left;
}

/* HOVER */
.pack-info:hover .list-package {
  display: block;
}

.shop-info:hover .list-shop {
  display: block;
}

.about-info:hover .list-about {
  display: block;
}

.page-info:hover .list-page {
  display: block;
}

.new-info:hover .list-new {
  display: block;
}

.contact-info:hover .list-contact {
  display: block;
}

.tour-pack::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 130px;
  right: -37px;
  bottom: 0;
  z-index: 1;
}

.sub-item {
  font-size: 16px;
  letter-spacing: 1.2px;
  width: 170px;
  padding: 10px 16px;
  cursor: pointer;
}

.icon-right {
  float: right;
  color: grey;
}

.sub-item a {
  color: grey;
  text-decoration: none;
  letter-spacing: 1.6px;
}

.badge {
  font-size: 10px;
  color: #fff;
  float: right;
  padding: 4px 8px;
  border-radius: 4px;
  letter-spacing: 1.6px;
}

.badge-red {
  background-color: #f76570;
}

.badge-blue {
  background-color: #14b9d5;
}

.badge-green {
  background-color: #1bbc9b;
}
/* Common sub list */
.sub-list-package {
  display: none;
  right: -225px;
  top: 95px;
}

.sub-list-about {
  right: -225px;
  bottom: -45px;
  display: none;
}

.sub-list-about::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 130px;
  left: -35px;
  bottom: 0;
  z-index: 1;
}

.sub-list-contact {
  right: -225px;
  bottom: -45px;
  display: none;
}

.sub-list-contact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 130px;
  left: -35px;
  bottom: 0;
  z-index: 1;
}

.sub-list-new {
  right: -225px;
  top: 45px;
  display: none;
}

.sub-list-new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 130px;
  left: -40px;
  top: -20px;
  z-index: 1;
}

.cmn-sub {
  position: absolute;
  list-style-type: none;
  box-shadow: 1px 1px 7px #fff;
  background-color: #fff;
  padding: 8px 16px;
  animation: fadeIn ease-in-out 0.2s;
}

.post-info:hover .sub-list-new {
  display: block;
}

.tour-pack:hover .sub-list-package {
  display: block;
}

.aboutus:hover .sub-list-about {
  display: block;
}

.contact:hover .sub-list-contact {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Main Header */
.header-desc {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 12% auto;
  /*    transform: translateY(30%); */
}

.heading1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.heading2 {
  margin-bottom: 65px;
  color: #fff;
  letter-spacing: 3.5px;
  font-weight: 400;
  font-size: 20px;
  margin-left: 110px;
}

.input {
  width: 350px;
  height: 45px;
  border-radius: 24px;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 15px;
  position: relative;
}

.input-icon {
  color: grey;
  position: absolute;
  right: 160px;
  top: 190px;
}

.event-list {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.event-item {
  padding: 32px 32px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}

.event-item i {
  color: #fff;
  font-size: 25px;
}

.event-item:hover {
  cursor: pointer;
}

.icon-desc {
  color: #fff;
  font-size: 10px;
  padding-top: 20px;
  letter-spacing: 2px;
}

/* Color Line */
.violet-line::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 5px;
  top: 50px;
  right: 0;
  z-index: -1;
  background-color: #ba71da;
  border-radius: 2px;
}

.green-line::after {
  content: "";
  position: absolute;
  width: 22%;
  height: 5px;
  top: 70px;
  right: 35%;
  z-index: -1;
  background-color: #1bbc9b;
  border-radius: 2px;
}

.green-line2::after {
  content: "";
  position: absolute;
  width: 16%;
  height: 5px;
  top: 67px;
  right: 38%;
  z-index: -1;
  background-color: #1bbc9b;
  border-radius: 2px;
}

.pink-line::after {
  content: "";
  position: absolute;
  width: 18%;
  height: 5px;
  top: 101px;
  left: 14%;
  z-index: -1;
  background-color: #f76570;
  border-radius: 2px;
}

.blue-line::after {
  content: "";
  position: absolute;
  width: 11%;
  height: 5px;
  top: 68px;
  left: 16%;
  z-index: -1;
  background-color: #14b9d5;
  border-radius: 2px;
}
/* Column */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__full {
  width: 100%;
}

.grid__col-2 {
  width: 16.667%;
}

.grid__col-3 {
  width: 33.3333%;
  padding-left: 8px;
  padding-right: 8px;
}

.grid__col-4 {
  width: 33.333%;
  padding-left: 16px;
  padding-right: 16px;
}

.grid__col-6 {
  width: 50%;
}

.grid__col-8 {
  width: 66.667%;
}

/* Destination */
.header-des {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.des-text2 {
  color: grey;
  font-size: 13px;
  margin-bottom: 20px;
  margin-left: 550px;
}

.des-text1 {
  color: #555;
  font-size: 36px;
  font-weight: bold;
}

.destination {
  position: relative;
  margin-top: 32px;
  margin-bottom: 50px;
}

.des-item {
  background-color: #000;
  width: 375px;
  margin-bottom: 32px;
  height: 350px;
  position: relative;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.des-item:hover .back {
  display: block;
}

.des-img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  cursor: pointer;
}

.desc-img {
  position: absolute;
  padding-left: 30px;
  bottom: 40px;
  color: #fff;
}

.des-name {
  font-weight: bold;
  padding-bottom: 8px;
}

.des-icon {
  color: #fff;
  position: absolute;
  font-size: 25px;
  opacity: 0.3;
  top: 20px;
  left: 30px;
}

/* HOVER IMG */

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #14b9d5;
  display: none;
  cursor: pointer;
  animation: fadeIn ease-out 0.7s;
}

.back-content {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
}

.heading3 {
  color: #fff;
  position: absolute;
  top: 25%;
  font-size: 20px;
  font-weight: bold;
  left: 140px;
  letter-spacing: 1.5px;
}

.head-list {
  list-style-type: none;
  text-align: center;
  padding-top: 130px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.head-item-link {
  text-decoration: none;
  color: #fff;
}

.back-btn {
  text-decoration: none;
  color: #14b9d5;
  padding: 7px 20px;
  font-size: 13px;
  margin-left: 95px;
  margin-top: 15px;
  position: absolute;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.holiday {
  position: relative;
  left: -32px;
}

.bridge-img {
  top: -200px;
  height: 800px;
  position: absolute;
  width: 105%;
  z-index: -1;
  clip-path: polygon(0 34%, 100% 34%, 100% 64%, 0 64%);
}

.holiday_desc {
  position: absolute;
  display: flex;
  align-items: center;
  top: 150px;
  left: 200px;
  width: 80%;
}

.holiday-text {
  line-height: 53px;
}

.holiday-link {
  color: #f76570;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: -18px;
  margin-left: 20%;
  padding: 13px 32px;
}

.btn {
  background-color: #fff;
  border-radius: 24px;
}

/* Book */

.book {
  position: relative;
  margin-top: 400px;
  margin-bottom: 100px;
}

.book-text {
  color: grey;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
}

.book-text2 {
  color: #555;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.text-desc {
  color: #a7a4a4;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.5px;
}

.price-desc {
  display: flex;
  font-size: 28px;
  letter-spacing: 1.5px;
  padding-bottom: 25px;
}

.old-price {
  margin-right: 10px;
  color: #a7a4a4;
  text-decoration: line-through;
}

.new-price {
  color: #555;
  font-weight: bold;
}

.person {
  font-size: 14px;
  padding-top: 15px;
  padding-left: 8px;
}

.book-btn {
  background-color: #1bbc9b;
  text-decoration: none;
  color: #fff;
  padding: 13px 32px;
  letter-spacing: 1.5px;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
}

/* SLIDER */
.navi-slide {
  margin-left: 20px;
  position: relative;
}

.slider {
  width: 750px;
  height: 410px;
  overflow: hidden;
}

.slide img {
  width: 750px;
  height: 410px;
}

.slides {
  width: 500%;
  height: 410px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 0.5s;
}

.navi-manual {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 750px;
  top: 20px;
}

.manual-btn {
  width: 70px;
  height: 3px;
  border: 1px solid #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #fff;
  opacity: 0.2;
  border-radius: 3px;
}

.manual-btn:hover {
  background-color: #fff;
  opacity: 1;
}

#r1:checked ~ .first {
  margin-left: 0;
}

#r2:checked ~ .first {
  margin-left: -20%;
}

#r3:checked ~ .first {
  margin-left: -40%;
}

/* time table */
.timetbl {
  background-color: #14b9d5;
  position: absolute;
  width: 490px;
  height: 120px;
  margin-left: 150px;
  margin-top: -60px;
}

.time-list {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.day::after {
  content: "/";
  position: absolute;
  color: #13b0cb;
  margin-left: 98px;
  font-size: 50px;
  margin-top: -65px;
}

.hour::after {
  content: "/";
  position: absolute;
  color: #13b0cb;
  margin-left: 79px;
  font-size: 50px;
  margin-top: -65px;
}

.minute::after {
  content: "/";
  position: absolute;
  color: #13b0cb;
  margin-left: 86px;
  font-size: 50px;
  margin-top: -65px;
}

.time {
  font-size: 11px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 5px;
  font-weight: 500;
}

/* TYPE TOUR */
.type-tour {
  margin-top: 150px;
  color: #555;
}

.tour {
  display: flex;
}

.tour-icon {
  font-size: 55px;
  margin-right: 20px;
  color: #a7a5a5;
}

.tour-heading {
  color: #565656;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.tour-text {
  color: #a7a5a5;
  line-height: 25px;
  padding-top: 15px;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding-bottom: 20px;
}

.tour-link {
  color: #14b9d5;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-size: 15px;
}

/* Detail */
.nav-detail {
  margin-bottom: 60px;
  margin-left: -27px;
  margin-right: -26px;
}

.detail-img {
  height: 270px;
  width: 100%;
}

.detail-desc {
  position: absolute;
  margin-top: -200px;
  text-align: center;
  margin-left: 185px;
}

.detail-text1 {
  margin-bottom: 15px;
  font-size: 13px;
  color: #fff;
  letter-spacing: 3.5px;
}

.detail-text2 {
  font-weight: bold;
  font-size: 35px;
}

.detail-link {
  color: #ffbe76;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding: 8px 20px;
}

.green-btn {
  color: #79d8c4;
}

/* Promotions */
.promo-header {
  height: 140px;
  text-align: center;
  position: relative;
}

.promo-text1 {
  color: grey;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 3.5px;
}

.promo-text2 {
  color: #555;
  font-size: 36px;
  font-weight: bold;
}

.promotion {
  position: relative;
  margin-bottom: 80px;
}

.promo-img {
  width: 100%;
  height: 230px;
}

.nav-promo {
  border: 1px solid #ebe6e6;
  position: relative;
}

.nav-desc-promo {
  padding: 32px;
}

.promo-heading {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

h4 {
  display: flex;
  color: #a7a4a4;
  font-weight: 400;
  margin-bottom: 30px;
  align-items: center;
  letter-spacing: 1.5px;
}

h4 i {
  margin-right: 6px;
}

.promo-space {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.space-desc {
  letter-spacing: 2.5px;
  font-size: 12px;
  line-height: 20px;
}
/* Common Plus */
.yellow-plus::after {
  content: "+1";
  position: absolute;
  left: 100px;
  background-color: #ffd205;
  border-radius: 10px;
  width: 27px;
  padding: 0px 4px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.pink-plus::after {
  content: "+1";
  position: absolute;
  left: 120px;
  background-color: #ff6b6b;
  border-radius: 10px;
  width: 27px;
  padding: 0px 4px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.violet-plus::after {
  content: "+1";
  position: absolute;
  left: 90px;
  background-color: #f368e0;
  border-radius: 10px;
  width: 27px;
  padding: 0px 4px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.space-price {
  font-size: 25px;
  color: #555;
  font-weight: bold;
  letter-spacing: 2px;
}

.change-price::before {
  content: "1000";
  color: rgb(211, 210, 210);
  text-decoration: line-through;
  padding-right: 7px;
  font-size: 19px;
  font-weight: 400;
}

.promo-content {
  color: #888484;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 23px;
}

.promo-link {
  background-color: #ffd205;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.promo-icon {
  position: absolute;
  left: 78%;
  top: 35%;
  padding: 12px;
  border-radius: 25px;
  color: #fff;
  font-size: 23px;
}

.berlin-color {
  background-image: linear-gradient(90deg, #feca57, #ff9f43);
}

.hk-icon {
  background-image: linear-gradient(90deg, #ff6b6b, #ff9f43);
}

.us-icon {
  background-image: linear-gradient(90deg, #f368e0, #ee5253);
}

.ita-color {
  background-image: linear-gradient(90deg, #2bcbba, #26de81);
}

.thai-color {
  background-image: linear-gradient(90deg, #45aaf2, #4b7bec);
}

.am-color {
  background-image: linear-gradient(90deg, #fc5c65, #fd9644);
}

.hk-color {
  background-color: #ff6b6b;
}

.us-color {
  background-color: #f368e0;
}
/* Footer */
.footer {
  position: relative;
  height: 600px;
}

.footer-content {
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer-img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer-header {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  top: 15%;
  justify-content: space-evenly;
}

.header-right {
  margin-right: 100px;
}

.foot-text1 {
  color: grey;
  margin-bottom: 15px;
  font-size: 13px;
  letter-spacing: 3.5px;
}

.foot-text2 {
  color: #555;
  font-size: 35px;
}

.footer-input {
  padding: 14px 32px;
  border-radius: 24px;
  outline: none;
  border: none;
  width: 250px;
  margin-top: 13px;
}

.footer-btn {
  border: none;
  background-color: #14b9d5;
  color: #fff;
  padding: 12px 27px;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-left: 8px;
}
/* Table Footer */
.footer-tbl {
  background-color: #fff;
  position: absolute;
  width: 1170px;
  height: 340px;
  bottom: 20px;
  margin-left: 50px;
  display: flex;
}

.tbl-left {
  padding-left: 40px;
}

.tbl-logo {
  width: 150px;
  height: 35px;
  margin: 50px 0 40px 0;
}

.tbl-desc {
  color: rgb(165, 163, 163);
  line-height: 24px;
  letter-spacing: 1.5px;
  font-size: 15px;
  margin-bottom: 30px;
}

.social {
  margin-bottom: 30px;
  font-size: 25px;
}

.social i {
  padding-left: 6px;
  padding-right: 6px;
}

.list {
  list-style: none;
  margin-left: 8px;
}

.item {
  color: rgb(165, 163, 163);
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.item i {
  padding-right: 8px;
  color: #a7a5a5;
}

.block {
  margin-top: 65px;
  width: 150px;
}

.footer__head {
  font-size: 13px;
  letter-spacing: 2.5px;
  margin-bottom: 45px;
  font-weight: bold;
}

.tbl-right {
  display: inline-flex;
}

.cmn-block {
  margin-left: 100px;
}

.cpr-footer {
  background-color: #14b9d5;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 0 16px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 2px;
}
/* Aside Bar */
@keyframes leftApp {
  from {
    margin-right: -400px;
    opacity: 0.5;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

.aside-bar {
  position: absolute;
  width: 360px;
  right: 0;
  background-color: #fff;
  z-index: 1;
  display: none;
  min-height: 550px;
  animation: leftApp ease 0.4s;
}

.best-head {
  height: 100px;
  text-align: center;
}

.cmn-small {
  color: var(--small-text);
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.cmn-big {
  color: var(--big-text);
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}

.icon-close {
  font-size: 25px;
  color: var(--small-text);
  margin-left: 325px;
  padding-top: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.cmn-img {
  width: 100px;
  height: 100px;
}

.cmn-block-aside {
  display: flex;
  margin: -20px 0 40px 32px;
}

.block-desc {
  margin-left: 32px;
}

.name-place {
  font-size: 20px;
  color: var(--small-text);
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.info-direct {
  display: flex;
  color: var(--small-text);
  align-items: center;
  padding-bottom: 16px;
}

.direct-name {
  padding-left: 10px;
  letter-spacing: 2px;
}

.block-price {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 4px 16px;
  border-radius: 20px;
}

/* Aside Line */
.yel-line::after {
  content: "";
  position: absolute;
  width: 143px;
  height: 5px;
  background-color: #ffd205;
  top: 80px;
  right: 109px;
  z-index: -1;
}

.ble-line::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: var(--primary-color);
  right: 120px;
  z-index: -1;
  margin-top: 22px;
}

.best-destination {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 280px;
  height: 250px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.best-destination:hover .img-back {
  display: block;
}

.img-line {
  height: 100%;
  cursor: pointer;
}

.img-icon {
  left: 30px;
  position: absolute;
  color: #fff;
  opacity: 0.4;
  top: 25px;
  font-size: 30px;
}

.img-desc {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
}

.img-heading {
  font-weight: bold;
  padding-bottom: 6px;
  letter-spacing: 1.5px;
}

.img-pack {
  letter-spacing: 2px;
  font-size: 12px;
}

.img-back {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  cursor: pointer;
  animation: fadeIn ease-out 0.7s;
}

.img-list {
  list-style: none;
  padding-bottom: 20px;
}

.img-item {
  padding-bottom: 12px;
}

.img-back-content {
  text-align: center;
  padding-top: 50px;
  color: #fff;
}

.img-title {
  padding-bottom: 14px;
}

.img-item-link {
  text-decoration: none;
  color: #fff;
}

.img-btn {
  text-decoration: none;
  color: var(--primary-color);
  background-color: #fff;
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
}
